<html>
    <head>
        <title>IET</title>
        <link  rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/semantic.min.css">
        <link  rel="stylesheet" type="text/css" href="/stylesheets/app.css">
	
    </head>
    <body>
        <div class="ui fixed inverted  menu">
            <div class="ui container">
                <div class="header item"><i class="heartbeat icon"></i><a href="/" class="item">IET_COVID-TRACKER</a></div>
                <a href="/blogs" class="item">Home</a>
				<a href="/cases" class="item">Cases</a>
				<a href="/help" class="item">Contact Us</a>
				
            </div>
        </div>
<!-- <div class="ui inverted segment menu  ">
  <div class="ui inverted secondary menu ">
    <div class="ui container ">
		<div class="header item"><i class="heartbeat icon"></i>IET_COVID-TRACKER</div>
                <a href="/" class="item">Home</a>
                <a href="/blogs/new" class="item">New Post</a>
				<a href="/cases" class="item">Cases</a>	
	</div>
  </div>
</div> -->
		  


