<%- include('./partials/header')  %>
<div class="ui main text container ">
	<select class="ui search dropdown">
  		<option value=""><a href="/cases">INDIA</a></option>
  		
	</select>
	<br>
	<table class="ui five column sortable celled table teal">
  <thead>
    <tr><th>State/UT</th>
	<th>Confirmed</th>
    <th>Active</th>
    <th>Recovered</th>
    <th>Deceased</th>
    
  </tr></thead>
  <tbody>
    <tr>
      <td >Maharashtra</td>
      <td class="negative">1,32,075</td>
      <td class="warning">60,147</td>
      <td class="positive">65,744</td>
      <td class="error"><i class="attention icon"></i>6,170</td>
    </tr>
    <tr>
      <td>Delhi</td>
      <td class="negative">59,746</td>
      <td class="warning">
24,558</td>
      <td class="positive">33,013</td>
      <td class="error"><i class="attention icon"></i>2,175</td>
    </tr>
    <tr>
      <td>Tamil Nadu</td>
      <td class="negative">59,377</td>
      <td class="warning">25,866</td>
      <td class="positive">32,754</td>
      <td class="error"><i class="attention icon"></i>757</td>
    </tr>
	  <tr>
      <td>Gujarat</td>
      <td class="negative">27,317</td>
      <td class="warning">
6,296</td>
      <td class="positive">19,357</td>
      <td class="error"><i class="attention icon"></i>1,664</td>
    </tr>
	  <tr>
      <td>Uttar Pradesh</td>
      <td class="negative">17,731</td>
      <td class="warning">6,186</td>
      <td class="positive">10,995</td>
      <td class="error"><i class="attention icon"></i>550</td>
    </tr>
	  <tr>
      <td>Rajasthan</td>
      <td class="negative">14,997</td>
      <td class="warning">2,996</td>
      <td class="positive">11,652</td>
      <td class="error"><i class="attention icon"></i>349</td>
    </tr>
	  <tr>
      <td>West Bengal</td>
      <td class="negative">13,945</td>
      <td class="warning">5,093</td>
      <td class="positive">8,297</td>
      <td class="error"><i class="attention icon"></i>555</td>
    </tr>
	  <tr>
      <td>Madhya Pradesh</td>
      <td class="negative">11,903</td>
      <td class="warning">2,373</td>
      <td class="positive">9,015</td>
      <td class="error"><i class="attention icon"></i>515</td>
    </tr>
	  <tr>
      <td>Haryana</td>
      <td class="negative">10,709</td>
      <td class="warning">4,991</td>
      <td class="positive">5,557</td>
      <td class="error"><i class="attention icon"></i>161</td>
    </tr>
	  <tr>
      <td>Andhra Pradesh</td>
      <td class="negative">9,372</td>
      <td class="warning">4,826</td>
      <td class="positive">4,435</td>
      <td class="error"><i class="attention icon"></i>111</td>
    </tr>
	  <tr>
      <td>Karnataka</td>
      <td class="negative">9,150</td>
      <td class="warning">3,391</td>
      <td class="positive">5,618</td>
      <td class="error"><i class="attention icon"></i>137</td>
    </tr>
	  <tr>
      <td>Bihar</td>
      <td class="negative">7,808</td>
      <td class="warning">2,126</td>
      <td class="positive">5,631</td>
      <td class="error"><i class="attention icon"></i>51</td>
    </tr>
	  <tr>
      <td>Telangana</td>
      <td class="negative">7,802</td>
      <td class="warning">3,861</td>
      <td class="positive">3,731</td>
      <td class="error"><i class="attention icon"></i>210</td>
    </tr><tr>
      <td>Jammu and Kashmir</td>
      <td class="negative">5,956</td>
      <td class="warning">2,492</td>
      <td class="positive">3,382</td>
      <td class="error"><i class="attention icon"></i>82</td>
    </tr>
	  <tr>
      <td>Assam</td>
      <td class="negative">5,586</td>
      <td class="warning">2,169</td>
      <td class="positive">3,405</td>
      <td class="error"><i class="attention icon"></i>9</td>
    </tr>
	  <tr>
      <td>Odisha</td>
      <td class="negative">5,303</td>
      <td class="warning">1,419</td>
      <td class="positive">3,863</td>
      <td class="error"><i class="attention icon"></i>21</td>
    </tr>
	  <tr>
      <td>Punjab</td>
      <td class="negative">4,074</td>
      <td class="warning">1,275</td>
      <td class="positive">2,700</td>
      <td class="error"><i class="attention icon"></i>99</td>
    </tr>
	  <tr>
      <td>Kerala</td>
      <td class="negative">3,173</td>
      <td class="warning">1,490</td>
      <td class="positive">1,659</td>
      <td class="error"><i class="attention icon"></i>22</td>
    </tr>
	  <tr>
      <td>Uttarakhand</td>
      <td class="negative">2,401</td>
      <td class="warning">848</td>
      <td class="positive">1,511</td>
      <td class="error"><i class="attention icon"></i>27</td>
    </tr>
	  <tr>
      <td>Chhattisgarh</td>
      <td class="negative">2,255</td>
      <td class="warning">823</td>
      <td class="positive">1,421</td>
      <td class="error"><i class="attention icon"></i>11</td>
    </tr>
	  <tr>
      <td>Jharkhand</td>
      <td class="negative">2,089</td>
      <td class="warning">672</td>
      <td class="positive">1,406</td>
      <td class="error"><i class="attention icon"></i>11</td>
    </tr>
	  <tr>
      <td>Tripura</td>
      <td class="negative">1,224</td>
      <td class="warning">464</td>
      <td class="positive">759</td>
      <td class="error"><i class="attention icon"></i>1</td>
    </tr>
	  <tr>
      <td>Manipur</td>
      <td class="negative">841</td>
      <td class="warning">591</td>
      <td class="positive">250</td>
      <td class="error">None</td>
    </tr>
	  <tr>
      <td>Ladakh</td>
      <td class="negative">837</td>
      <td class="warning">702</td>
      <td class="positive">134</td>
      <td class="error"><i class="attention icon"></i>1</td>
    </tr>
	  <tr>
      <td>Goa</td>
      <td class="negative">818</td>
      <td class="warning">682</td>
      <td class="positive">135</td>
      <td class="error"><i class="attention icon"></i>1</td>
    </tr>
	  <tr>
      <td>Himachal Pradesh</td>
      <td class="negative">702</td>
      <td class="warning">263</td>
      <td class="positive">419</td>
      <td class="error"><i class="attention icon"></i>7</td>
    </tr>
	  <tr>
      <td>Chandigarh</td>
      <td class="negative">406</td>
      <td class="warning">84</td>
      <td class="positive">316</td>
      <td class="error"><i class="attention icon"></i>6</td>
    </tr>
	  <tr>
      <td>Puducherry</td>
      <td class="negative">383</td>
      <td class="warning">218</td>
      <td class="positive">137</td>
      <td class="error"><i class="attention icon"></i>8</td>
    </tr>
	  <tr>
      <td>Nagaland</td>
      <td class="negative">280</td>
      <td class="warning">139</td>
      <td class="positive">141</td>
      <td class="error">None</td>
    </tr>
	  <tr>
      <td>Mizoram</td>
      <td class="negative">142</td>
      <td class="warning">130</td>
      <td class="positive">12</td>
      <td class="error">None</td>
    </tr>
	  
  </tbody>
	  <thead>
    <tr><th>Total</th>
	<th>4,56,296</th>
    <th>1,81,946</th>
    <th>2,38,067</th>
    <th>13,745</th>
    
  </tr></thead>
  
</table>
	
</div>
<%- include('./partials/footer')  %>

